form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: Window 2px;


}
body{
    background: rgba(117, 117, 117, 0.24); /* Цвет фона */
}

bord{
    width: 500px;	height: 500px; /* Размеры */
    background: rgba(0, 0, 0, 0.24); /* Цвет фона */
    outline: 2px solid rgba(117, 117, 117, 0.58); /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}

.abc{

    border-radius: 5px; /* Радиус скругления */
    border: 3px solid #fff; /* Белая рамка */
    /*width: 400px;	height: 400px; /* Размеры */
    background: rgba(255, 255, 255, 0); /* Цвет фона */
    padding: 60px; /* Поля вокруг текста */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.form-text{
    top: 50%;
    left: 50%;


}