


form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: Window 2px;


}
body{
    background: rgba(117, 117, 117, 0.24); /* Цвет фона */
}

bord{
    width: 500px;	height: 500px; /* Размеры */
    background: rgba(0, 0, 0, 0.24); /* Цвет фона */
    outline: 2px solid rgba(117, 117, 117, 0.58); /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}

.efg{

    border-radius: 5px; /* Радиус скругления */
    border: 3px solid #fff; /* Белая рамка */
    /*width: 400px;	height: 400px; /* Размеры */
    background: rgba(255, 255, 255, 0); /* Цвет фона */
    padding: 60px; /* Поля вокруг текста */
    box-shadow: 0 0 10px rgba(0,0,0,0);

}

.bttttn{
    padding: 1.5em 0 0;
}
.nnn{
    padding: 1em 0em 0em;
}

.nestar{
    padding: 7em 0em 0em;
}

.form-text{
    top: 50%;
    left: 50%;


}

.card-body{

    vertical-align: middle;
    float:right;
    transform: translate(15%,0%);

}
.card-title{
    white-space: pre-wrap;
}
.rating {
    float:left;

}

/* Конструкция :not(:checked) работает как фильтр, чтобы браузеры, которые не поддерживают псевдокласс :checked не применяли эти свойства. Все браузеры, поддерживающие псевдокласс :checked, поддерживают и псевдокласс :not(), так что фильтр должен отработать правильно. */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;


}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #272727;

}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}


.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
h2 {
    background: rgba(215, 183, 172, 0.64);
    font-weight: 300;
    color: #fff;
    padding: 0 10px;
    margin: 30px 0 0 0;
    border-radius: 3px; /* Радиус скругления */
}


h4 {
    font-weight: 300;
    color: #272727;
    padding: 0 10px;
    border-radius: 3px; /* Радиус скругления */
}


h5 {
    font-weight: 200;
    color: #272727;
    padding: 0 10px;
    margin: 10px 0 0 0;
}

.nn4{
    background: rgba(255, 255, 255, 0.64);

    padding: 0 10px;
    border-radius: 3px; /* Радиус скругления */
    border: 1px solid #cdcdcd; /* Белая рамка */


}


.text-muted{
    padding: 0 5px;
}

.card-img1{
    width: 25px;	height: 25px; /* Размеры */
}
.card-img2{
    width: 30px;	height: 30px; /* Размеры */
}


.card{
    border-color: rgba(117, 117, 117, 0);
}

.button1{
    width:50px;
    float:left;
    margin-bottom:20px;
}
table{
    clear:both;
}
@media screen and (min-width:410px){
    .button1{
        float:right;
    }
}

.abc{
    padding: 5em 0 0;
    border-radius: 5px; /* Радиус скругления */
    border: 3px solid #fff; /* Белая рамка */
    width: 300px;	height: 280px; /* Размеры */
    background: rgba(255, 255, 255, 0); /* Цвет фона */
    padding: 30px; /* Поля вокруг текста */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: translate(0%, 50%);


}
.vniz{
    padding:  1em 0  0 0 ;
}

