


form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: Window 2px;


}
body{
    background: rgba(117, 117, 117, 0.24); /* Цвет фона */
}



.efg{

    border-radius: 5px; /* Радиус скругления */
    border: 3px solid #fff; /* Белая рамка */
    /*width: 400px;	height: 400px; /* Размеры */
    background: rgba(255, 255, 255, 0); /* Цвет фона */
    padding: 60px; /* Поля вокруг текста */
    box-shadow: 0 0 10px rgba(0,0,0,0);

}

.bttttn{
    padding: 1.5em 0 0;
}
.nnn{
    padding: 1em 0em 0em;
}

.nestar{
    padding: 7em 0em 0em;
}

.form-text{
    top: 50%;
    left: 50%;


}

.card-body{

    vertical-align: middle;
    float:right;
    transform: translate(15%,0%);

}
.card-title{
    white-space: pre-wrap;
}

h2 {
    background: rgba(12, 109, 215, 0.12);
    font-size: 42px;
    font-weight: 300;
    color: #272727;
    padding: 0 0  0 40%;
    /*margin: 30px 0 0 0;*/
    border-radius: 3px; /* Радиус скругления */
    border: 1px solid #cdcdcd; /* Белая рамка */
}


/*h4 {*/
/*    font-weight: 300;*/
/*    color: #272727;*/
/*    padding: 0 10px;*/
/*    border-radius: 3px; !* Радиус скругления *!*/
/*}*/


h5 {
    font-weight: 200;
    color: #272727;
    padding: 0 10px;
    margin: 10px 0 0 0;
}

.nn4{
    background: rgba(255, 255, 255, 0.64);

    padding: 0 10px;
    border-radius: 3px; /* Радиус скругления */
    border: 1px solid #cdcdcd; /* Белая рамка */


}


.text-muted{
    padding: 0 5px;
}





.card{
    border-color: rgba(117, 117, 117, 0);
}

.button1{
    width:50px;
    float:left;
    margin-bottom:20px;
}
table{
    clear:both;
}
@media screen and (min-width:410px){
    .button1{
        float:right;
    }
}

.abc{
    padding: 5em 0 0;
    border-radius: 5px; /* Радиус скругления */
    border: 3px solid #fff; /* Белая рамка */
    width: 300px;	height: 280px; /* Размеры */
    background: rgba(255, 255, 255, 0); /* Цвет фона */
    padding: 30px; /* Поля вокруг текста */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: translate(0%, 50%);


}
.vniz{
    padding:  1em 0  0 0 ;
}

.kniga{
    border: 1px solid #cdcdcd; /* Белая рамка */
}