<html>
<head>
    <title>
        Deleted
    </title>
</head>
<body>
<form action="/undel" method="post">
    Recover<input type="checkbox" name="undel" value="true">
    <input type="submit">
</form>
<a href="/main">to main</a>
</body>
</html>